<ng-container *ngIf="this.adminManager.isAdminModeActive">
    <ng-container *ngIf="this.adminManager.isPreviewActive">
        <p-button (click)="this.adminManager.disactivatePreview()">Disactivate Preview</p-button>
    </ng-container>
    <ng-container *ngIf="!this.adminManager.isPreviewActive">
        <p-button (click)="this.adminManager.activatePreview()">Activate Preview</p-button>
    </ng-container>
    <ng-container *ngIf="!this.adminManager.isPreviewActive">
        <p-splitButton label="actions (image haute)" [model]="buttonManager.upperImageUiButtons"></p-splitButton>
        <p-splitButton label="save/upload" [model]="buttonManager.saveUploadButtons" (onDropdownClick)="buttonManager.initSaveUploadButtons()"></p-splitButton>
        <p-splitButton label="load" [model]="buttonManager.loadButtons"></p-splitButton>
        <p-button (onClick)="this.printGeneralInfoModal()">GeneralInfo</p-button>
        <ng-container *ngIf="this.generalInfoModalRendered">
            <div style="background-color: #d3d3d3; margin: 10px; padding: 10px;">
                <p><strong>Comment fonctionne cette application:</strong></p>
                <p><em>Gestion et sauvegarde des visuels:</em></p>
                <p>Tu vas pouvoir travailler sur 5 visuels max par page.
                Si tu travailles sur un visuel en index 1 mais que tu
                veux basculer sur un visuel en autre index tu le pourras
                sans perdre aucun informatione <strong>tant que tu restes
                sur cette page!</strong></p>
                <p>La sauvegarde (image ou layout) n'est là que pour être capable
                de récupérer ton travail après un changement de page ou une
                déconnexion. Ce qui signifie que si tu n'enregistre pas ton travail
                mais souhaite changer de page ou te reconnecter, il sera perdu.</p>
                <p><em>Image, texte, couleur et disposition: </em></p>
                <p>Tu vas pouvoir: </p>
                <ul><li>Charger des images à la volée depuis ton portable</li></ul>
                <ul><li>Tester du texte</li></ul>
                <ul><li>Tester des tailles, couleurs et polices de charactères</li></ul>
                <ul><li>Tester un fond de couleur, son opacité, sa hauteur et largeur</li></ul>
                <p><strong>Enjoy chaton!</strong></p>
            </div>
        </ng-container>
        <ng-container *ngIf="buttonManager.upperImageBorderDataRenderedContainer.dataRendered">
            <strong>Manage Border: (image haute)</strong>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Angle</strong>
                    <p-knob [(ngModel)]="this.layoutManager.upperImageBorderRadius" [min]="0" [max]="100"></p-knob>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Largeur</strong>
                    <p-knob [(ngModel)]="this.layoutManager.upperImageBorderSize" [min]="0" [max]="50"></p-knob>
                </div>
                <p-colorPicker [(ngModel)]="this.layoutManager.upperImageBorderColor"></p-colorPicker>
            </div>
        </ng-container>
        <ng-container *ngIf="buttonManager.upperImageInsideBackgroundDataRenderedContainer.dataRendered">
            <strong>Manage InsideBorder: (image basse)</strong>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Opacity</strong>
                    <p-knob [(ngModel)]="this.layoutManager.upperImageBackgroundOpacity" [min]="0" [max]="100"></p-knob>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Width</strong>
                    <p-knob [(ngModel)]="this.layoutManager.upperImageBackgroundWidth" [min]="0" [max]="100"></p-knob>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Height</strong>
                    <p-knob [(ngModel)]="this.layoutManager.upperImageBackgroundHeight" [min]="0" [max]="100"></p-knob>
                </div>
                <p-colorPicker [(ngModel)]="this.layoutManager.upperImageBackgroundColor"></p-colorPicker>
            </div>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Top/Down</strong>
                    <p-knob [(ngModel)]="this.layoutManager.upperImageBackgroundPaddingTop" [min]="0"></p-knob>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="buttonManager.upperImageTextDataRenderedContainer.dataRendered">
            <strong>Manage TextData: (image haute)</strong>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Police</strong>
                    <p-dropdown [options]="this.policeTab" [(ngModel)]="this.layoutManager.upperImageTextPolice">Police</p-dropdown>
                </div>
                <p-colorPicker [(ngModel)]="layoutManager.upperImageTextColor"></p-colorPicker>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Taille</strong>
                    <p-knob [(ngModel)]="layoutManager.upperImageTextSize" [min]="12" [max]="48">textSize</p-knob>
                </div>
            </div>
            <input type="text" pInputText [(ngModel)]="layoutManager.upperImageTextValue" />
            <div class="card">
                <p-editor [(ngModel)]="layoutManager.upperImageTextValue" />
            </div>
        </ng-container>
        <ng-container *ngIf="buttonManager.uploadImageDataRenderedContainer.dataRendered">
            <p-fileUpload #fileUploader
            mode="basic"
            customUpload="true"
            (uploadHandler)="upload($event)">
            </p-fileUpload>
        </ng-container>
        <div>{{ this.layoutManager.layoutData.hasBeenSaved }}</div>
        <div>{{ this.imageManager.hasBeenSaved }}</div>
    </ng-container>
</ng-container>
<div [style]="getImageUrl()">
    <div  [style]="this.getImageBackgroundStyle()">
        <ng-container *ngIf="this.layoutManager.layoutData">
            <div [innerHTML]="reworkTextValue()"  [style]="textStyle()"></div>
        </ng-container>
    </div>
</div>
<!-- <div [style]="getImageUrl()"> -->
    <div  [style]="this.getBelowImageBackgroundStyle()">
        <ng-container *ngIf="this.layoutManager.layoutData">
            <div [innerHTML]="reworkBelowTextValue()"  [style]="textBelowStyle()"></div>
        </ng-container>
    </div>
<!-- </div> -->
<ng-container *ngIf="this.adminManager.isAdminModeActive">
    <ng-container *ngIf="!this.adminManager.isPreviewActive">
        <p-splitButton label="actions (image basse)" [model]="buttonManager.belowImageUiButtons"></p-splitButton>
        <ng-container *ngIf="buttonManager.belowImageBorderDataRenderedContainer.dataRendered">
            <strong>Manage Border: (image basse)</strong>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Angle</strong>
                    <p-knob [(ngModel)]="this.layoutManager.belowImageBorderRadius" [min]="0" [max]="100"></p-knob>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Largeur</strong>
                    <p-knob [(ngModel)]="this.layoutManager.belowImageBorderSize" [min]="0" [max]="50"></p-knob>
                </div>
                <p-colorPicker [(ngModel)]="this.layoutManager.belowImageBorderColor"></p-colorPicker>
            </div>
        </ng-container>
        <ng-container *ngIf="buttonManager.belowImageInsideBackgroundDataRenderedContainer.dataRendered">
            <strong>Manage InsideBorder: (image basse)</strong>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Opacity</strong>
                    <p-knob [(ngModel)]="this.layoutManager.belowImageBackgroundOpacity" [min]="0" [max]="100"></p-knob>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Width</strong>
                    <p-knob [(ngModel)]="this.layoutManager.belowImageBackgroundWidth" [min]="0" [max]="100"></p-knob>
                </div>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Height</strong>
                    <p-knob [(ngModel)]="this.layoutManager.belowImageBackgroundHeight" [min]="0" [max]="100"></p-knob>
                </div>
                <p-colorPicker [(ngModel)]="this.layoutManager.belowImageBackgroundColor"></p-colorPicker>
            </div>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Top/Down</strong>
                    <p-knob [(ngModel)]="this.layoutManager.belowImageBackgroundPaddingTop" [min]="0"></p-knob>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="buttonManager.belowImageTextDataRenderedContainer.dataRendered">
            <strong>Manage TextData: (image basse)</strong>
            <div style="display: flex; align-items: center; gap: 1rem;">
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Police</strong>
                    <p-dropdown [options]="this.policeTab" [(ngModel)]="this.layoutManager.belowImageTextPolice">Police</p-dropdown>
                </div>
                <p-colorPicker [(ngModel)]="layoutManager.belowImageTextColor"></p-colorPicker>
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <strong>Taille</strong>
                    <p-knob [(ngModel)]="layoutManager.belowImageTextSize" [min]="12" [max]="48">textSize</p-knob>
                </div>
            </div>
            <input type="text" pInputText [(ngModel)]="layoutManager.belowImageTextValue" />
            <div class="card">
                <p-editor [(ngModel)]="layoutManager.belowImageTextValue" />
            </div>
        </ng-container>
    </ng-container>
</ng-container>