<div  [style]="getMainBackgroundStyle()" style="display: flex; flex-direction: column; height: 100%;">
    <div>
        <p-button (click)="this.saveLayout()">SaveLayout</p-button>
        <p-button (click)="this.saveImage()">SaveImage</p-button>
        <p-dropdown [options]="this.dropdownTab" (onChange)="this.loadLayoutDataDropdown($event)">Load</p-dropdown>
        <div>Main Background Color<p-colorPicker [(ngModel)]="mainBackgroundColor"></p-colorPicker></div>
        <div>Image Background Color<p-colorPicker [(ngModel)]="imageBackgroundColor"></p-colorPicker></div>
        <input type="text" pInputText [(ngModel)]="this.componentFacade.layoutManager.layoutData.imageText" />
        <p-fileUpload #fileUploader
            mode="basic" 
            customUpload="true" 
            (uploadHandler)="upload($event)">
        </p-fileUpload>
        <div>{{ this.componentFacade.layoutManager.layoutData.hasBeenSaved }}</div>
        <div>{{ this.componentFacade.imageDataUtils.hasBeenSaved }}</div>
    </div>

    <div [style]="getImageBackgroundStyle()" style="display: flex; align-items: center; justify-content: center; height: 100%;">
        {{ this.componentFacade.layoutManager.layoutData.imageText }}
    </div>

    <div *ngIf="imageUrl" style="margin: auto; display: flex; align-items: center; justify-content: center; height: 100%">
        <img [src]="imageUrl" alt="Uploaded Image" style="height: 50%; width: 50%;">
    </div>
</div>
